
#nite-header{
    background:url('../images/nite/bg-nite.jpg') no-repeat fixed;
    background-size:cover;
    color:#fff;
}

#mouse-header{
    background:url('../images/remotemouse/bg_mouse.jpg') no-repeat fixed;
    background-size:cover;
    color:#fff;
}

#mouse-function{
    background:url('../images/remotemouse/bg_white.jpg') no-repeat fixed;
    background-size:cover;
    color:#615d5d;
}

#offer-board-header{
    background:url('../images/offerboard/bg_offerboard.jpg') no-repeat fixed;
    background-size:cover;
    color:#fff;
}

#music-dream-header{
    background:url('../images/music/bg-banner-music.png') no-repeat fixed;
    background-size:cover;
    color:#fff;
}

#nao-header{
    background:url('../images/nao/bg-nao.jpg') no-repeat fixed;
    background-size:cover;
    color:#434343;
}

#two-d-design-header{
    background-color: #fff;
    background-size:cover;
    color:#434343;
}

.mouse-prob-icon{
	
	position:relative;
    display:block;
    text-align:center;
    width:100px;
    height:100px;
    margin:0px auto;
    border-radius:50%;
    font-size:50px;
    line-height:100px;
    background:#334959;
    color:#fff;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;

}


/*-----------------------
--- Images ----
-------------------------*/
.list-image{
    width: 820px;
    margin-bottom: 20px;
}







